<div class="card">
  <div class="card-body">
    <!-- <ng-content select=".card-title"></ng-content>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
      <ng-content></ng-content> -->

      <h5 class="card-title">Leptop</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <button (click)="btnAlert()" class="btn btn-primary">Know more about Leptop</button>
  </div>

</div>
