<div class="page-area">
  <div class="text-center">
    <h2>Contact us</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.</p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-card>
        <h5 class="card-title">Leptop</h5>
        <a routerLink="/products/leptop" class="btn btn-primary">Know more about Leptop</a>
      </app-card>
    </div>
    <div class="col-md-6">
      <app-card>
        <h5 class="card-title">Mobile</h5>
        <a routerLink="/products/mobile" class="btn btn-primary">Know more about Mobile</a>
      </app-card>
    </div>
    <div class="col-md-6">
      <app-card>
        <h5 class="card-title">TV</h5>
        <a routerLink="/products/tv" class="btn btn-primary">Know more about TV</a>
      </app-card>
    </div>
    <div class="col-md-6">
      <app-card>
        <h5 class="card-title">Washing Mashine</h5>
        <a routerLink="/products/washing-machine" class="btn btn-primary">Know more about Washing Mashine</a>
      </app-card>
    </div>
  </div>
</div>
