<div class="page-area">
  <div class="text-center">
    <h2>Product</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.</p>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1425321505542-00715f6a9c28" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Leptop</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="leptop" class="btn btn-primary">Add To Cart</a>
        </div>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1426900985728-92d56f56fdb2" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="mobile" class="btn btn-primary">Add To Cart</a>
        </div>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1462450806522-59ae61ea99fa" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">TV</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="tv" class="btn btn-primary">Add To Cart</a>
        </div>
      </div>
      <div class="card">
        <img src="https://images.unsplash.com/photo-1460819739742-50e4486578f5" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Washing Macine</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a routerLink="washing-machine" class="btn btn-primary">Add To Cart</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
