<div class="container">
<div class="row">
  <div class="col-md-3">
    <input type="text" name="" class="form-control" #uname placeholder="User Name" />
  </div>
  <div class="col-md-3">
    <button class="btn btn-success" (click)="onCreateUser(uname)">Submit</button>
  </div>
</div>
<table class="table table-striped">
  <tr *ngFor="let user of users; index as j">
    <td scope="col">{{j + 1}}</td>
    <td scope="col">{{user.name}}</td>
    <td scope="col"><button class="btn btn-danger" (click)="onRemoveUser(j)">Delete</button></td>
  </tr>
</table>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Product Image</th>
    <th scope="col">Product Name</th>
    <th scope="col">Product ID</th>
    <th scope="col">Product Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products; index as i">
    <td scope="row">{{ i + 1 }}</td>
    <td>
      <img src="{{ product.image}}" width="70">
    </td>
    <td>{{ product.name}}</td>
    <td>{{ product.id }}</td>
    <td>{{ product.price }}</td>
  </tr>
  </tbody>
</table>
</div>
